.video-control {
  width: 100%;
  background: #002538;
}

.class-detail-prepage {
  background: blue;
  height: 400px;
}

.class-detail-container {
  position: relative;
  top: -300px;
  background: red;
  height: 600px;
}


