.class-detail-prepage {
  background: linear-gradient(to right,#ec7404 0,#ff9e11 100%);
  height: 500px;
}

.class-detail-container {
  position: relative;
  top: -80px;
}

.class-detail-content {
  width:100%;
  height:120px;
  background: #FFF;
}
