.page-title {
  width:100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#ec7404 0,#ff9e11 100%);

  .title-content {
    .main-title {
      text-align: center;
      font-weight: 400;
      color: #fff;
    }
  }
}

