input {
  width:100%;
  box-sizing: border-box;
  padding: 7px 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: transparent;

  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }

input:focus,  {
  outline: 0 !important;
  border: 1px solid #fff;
}