/*
* Colors Pallete
*/

$color-background: #d8d8d8;
$color-white: #FFFFFF;
$color-snow: #EEEEEE;
$color-black: #000000;
$color-dark-gray: #1C272D;
$color-half-gray: rgba(255, 255, 255, 0.5);
$color-light-gray: #CCCCCC;

.color-white { color: $color-white }
.color-snow { color: $color-snow }
.color-black { color: $color-black }
.color-dark-gray { color: $color-dark-gray }
.color-light-gray { color: $color-light-gray }