<section class="main-slider">
  <div class="search-slider col-lg-8 col-md-8 col-sm-10 col-xs-12">
    <h1 class="search-title">Aprenda com os melhores cursos online:</h1>
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <form class="search-form">
            <label for="search_input">
              <input id="search_input" type="text" placeholder="Buscar um curso bacana">
            </label>
            <button type="button" class="btn btn-icon btn-primary">
              <clr-icon shape="search"></clr-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>